my-medusa-store/dist
my-medusa-store/.env
my-medusa-store/.DS_Store
my-medusa-store//uploads
my-medusa-store/node_modules
my-medusa-store/yarn-error.log

my-medusa-store/.idea

my-medusa-store/coverage

my-medusa-store/!src/**

my-medusa-store/./tsconfig.tsbuildinfo
my-medusa-store/package-lock.json
my-medusa-store/yarn.lock
my-medusa-store/medusa-db.sql
my-medusa-store/build
my-medusa-store/.cache

my-medusa-store/.yarn/*
my-medusa-store/!.yarn/patches
my-medusa-store/!.yarn/plugins
my-medusa-store/!.yarn/releases
my-medusa-store/!.yarn/sdks
my-medusa-store/!.yarn/versions
